import boto3
import jsonimport requests
import requests
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from PIL import Image
from transformers import AutoProcessor, AutoModelForVision2Seq
from transformers import Blip2Processor, Blip2ForConditionalGeneration
import torch
import pandas as pd
import networkx as nx
import itertools
from itertools import combinations
import os
import argparse
import json
import csv
from datetime import datetime
import numpy as np
import zipfile
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import jaccard_score
nltk.download('punkt') 
nltk.download('stopwords') 
nltk.download('wordnet')    
stop_words = set(stopwords.words('english'))
from nltk.translate.bleu_score import corpus_bleu, sentence_bleu, SmoothingFunction

from google.colab import drive
drive.mount('/content/drive')

#Set the working folder, if not available by default
folder_path = "/content/drive/My Drive/Colab Notebooks"

if not os.path.exists(folder_path):
    os.makedirs(folder_path)
    print("Folder created successfully.")
else:
    print("Folder already exists.")

# You will and Amazon Web Services Account in order to run the Rekognition cloud-based model.
# You will be prompt to update your !aws configure settings in the 'model_evaluation_rekognition.ipynb'
